:host {
display: block;
}


header {
    background-color: #a32f2f;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
    border-radius: 0 0 45px 0;
    color: rgb(199, 184, 184);
}