<header>

  <h1 class="titulo">{{ titulo }}</h1>

  <div class="datos">
    <p class="nombre">{{ nombre }}</p>
    <p class="grado">{{ grado }}</p>
    
  </div>

  <router-outlet></router-outlet>

</header>

<div class="main">
  <aside class="left">
    <p class="ciudad">{{ ciudad }}</p>
    <p class="telefono">{{ telefono }}</p>
    <p class="correo_electronico">{{ correo_electronico }}</p>
    <p class="github">{{ github }}</p>
    <p class="idiomas">{{ idiomas }}</p>

    <img
      ngSrc="/img/angular.webp"
      width="250"
      height="100"
      alt="imagen_angular"
      class="img_angular">
  </aside>

  <main>
    <section class="bloque-about">
      <p class="about">{{ about }}</p>
      <p class="description_about">{{ description_about }}</p>
    </section>

    <div class="experiencia">
      <p class="titulo_experiencia">{{ titulo_experiencia }}</p>

      <div class="item-experiencia">
        <div class="cabecera-experiencia">
          <span class="empresa1">{{ empresa1 }}</span>
          <span class="periodo1">{{ periodo1 }}</span>
        </div>
        <p class="puesto1">{{ puesto1 }}</p>
        <p class="descripcion1">{{ descripcion1 }}</p>
      </div>

      <div class="item-experiencia">
        <div class="cabecera-experiencia">
          <span class="empresa2">{{ empresa2 }}</span>
          <span class="periodo2">{{ periodo2 }}</span>
        </div>
        <p class="puesto2">{{ puesto2 }}</p>
        <p class="descripcion2">{{ descripcion2 }}</p>
      </div>
    </div>

    <div class="formacion">
      <p class="titulo_formacion">{{ titulo_formacion }}</p>
      <p class="texto_formacion">{{ texto_formacion }}</p>
    </div>

    <div class="tecnologias">
      <p class="titulo_tecno">{{ titulo_tecno }}</p>
      <div class="array_tecnologias">
        @for (tecnologia of array_tecnologias; track tecnologia) {
          <span class="item-tecnologia">{{ tecnologia }}</span>
        }
      </div>
    </div>

  </main>
</div>

<footer>
  <div class="texto_footer">
    <p class="descripcion_footer">{{ descripcion_footer }}</p>
    <p class="clase">{{  fecha | date:'dd/MM/yyyy'  }}</p>
  </div>
</footer>